* {
    margin: 0;
    padding: 0;
}

.bg1{
    background-color: grey!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container{
    height: 100%;
}

h1{
    color: yellow;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
}

hr{
    margin: 0.5rem 0!important ;
}